<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Чеки</title>
    <style>
       table {
        width: 500px;
        border: 1px solid green;
        margin: auto;
       }
       td {
        text-align: center;
       }
  </style>
</head>
<body>
<div th:switch="${cheltuielis}">
    <div th:case="*">
        <table>
            <thead>
            <tr>
                <th>Номер чека</th>
                <th>Список продуктов</th>
                <th>Цена за ед.</th>
                <th>Кол-во ед.</th>
                <th>Итоговая цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cheltuieli : ${cheltuielis}">
                <td th:text="${cheltuieli.idcec}"></td>
                <td th:text="${cheltuieli.lista_produselor}"></td>
                <td th:text="${cheltuieli.pret_unitate}"></td>
                <td th:text="${cheltuieli.unitati}"></td>
                <td th:text="${cheltuieli.pret_total}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>