<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Файлы</title>
</head>
<body>
<div th:switch="${files}">
    <h2 th:case="null">Файлов не найдено!</h2>
    <div th:case="*">
        <h2>Файлы</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Путь</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td th:text="${file.Fileid}"></td>
                <td th:text="${file.FileName}"></td>
                <td th:text="${file.FilePath}"></td>
                <td><a th:href="@{file-delete/{Fileid}(Fileid=${file.Fileid})}">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/file-create">Создать</a></p>
</div>
</body>
</html>